/*Reset CSS*/

/*
1. Từ ngoài vào trong
2. từ trên xuống dưới
3.  tổng quan đến chi tiết 
 */

/*
1. Vị trí
2. Kích thước (with, height)
3.Màu sắc
4.Kiểu dáng (Kiểu chữ, hình tròn, vuông ...)
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* Common */
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;

}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.pull-right{
    float: right;
}
.btn{
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
}
.btn:hover{
    background-color: #ccc;
    cursor: pointer;
}

#main{
    
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    display: block;
    content: "";
    clear: both;
}
.col{
    float: left;
    padding: 0 8px;
}
.col-third{
    width: 33.33333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}


/* Header */
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav > li{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .menu-btn {
    color: #fff;
}
#header .menu-mobile-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;  
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-mobile-btn:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

#header .menu-mobile-btn,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .menu-mobile-btn{
    display: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    
}

#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    display: block;
    color: #000;
    padding: 0px 16px;
    line-height: 38px;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    display: block;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: #000;
}
#nav li:hover .subnav{
    display: block;
}
/* 
https://lh3.googleusercontent.com/Ju8t4vIvDo5dTDvTS0U4t0gpmUa4N_HxHla47-LlXbxpCbdIS4OV9Bo0M5c_5fJTPaf_Rt3ut68J55-zGT3lkBdKlHmlmW1eDch7Oh17fMwNHhpakPSkl2rxwengt1uzlLi4lzz_57jWAe6MFBmr_U35cD2anIXosP5_xUV2NzaXPz7_ezkCSDvNl2K-VWaITkM0auzVUhtuzaJ30u8q52pQFWAXz_wfMVVZnM3Z9u3bIju0I6sfhM8P2-u_D0UFmzHsGrxRGJR7dujgBQrxEyZsvgc1duRgQ7nU3RiRN2qUISDdqzJV9UQdRg5pU53z_moptako4NAG8JVAlzOXt1cIrayNYMjnJOVrpGsMQgEi6NIa06UeSgQI2uJt46nRYUFsplZYeHoVZT_1CK5AaVFJNvzmXWh1jdOwFj59DpIjuoNtlpVDqg6mntumMlJaWrBx3VQy15f-YNyjM21GDxvE5w2SbKOA5kcWPHSnZZTlXBgibaAMAGgZKUJXGj1sy6ydMg04rMSqfZ6dP6fje0Z1kY82xT4tXvmUwiT_PbaXOyIj2M7gEHa0330LDtFG-5j2A2kMStx4eHAG01eS0h9hYtcoERlEhHNvCw39lwIls836k-bqGg-KZIrDWO6Nn5nyaGVd_Wlo1LVPD5n3E37JNA08Kajq9tpOxA7wdz48NAMhhDt4ntwcIWYdaIOA9tysma4690NHoirBybv4_Do=w1605-h903-no?authuser=0
*/
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/chicago.jpg) top center/ cover no-repeat;
    color: #fff;
    position: relative;
}

#slider .text-content{
    width: 100%;
    position: absolute;
    bottom: 47px;
    text-align: center;
}
#slider .text-heading{
    font-weight: 400;
}
#slider .text-description{
    margin-top: 25px;
}
/* End Header */

/* Content */
#content{
    background-color: #fff;
}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}
#content .section-heading {
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}
#content .about-text{
    margin-top: 25px;
    font-size: 14px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tuor section */
.tuor-section{
    background-color: #000;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;  
}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border: solid 1px #ccc;
    color: #757575;
    list-style-type: none;
}
.ticket-list .sold-out{
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
}
.ticket-list .quanlity{
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 16px;
    padding: 4px 8px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
}

/* Places */
.tuor-places{
    margin-top: 16px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-content{
    background-color: #fff;
    padding: 15px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desrciption{
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.4;
} 

#footer{

}
/* Modal buy tickets */
.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}
.modal .modal-header{
    background-color: #009688;
    color: #fff;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.modal-header p{
    margin-left: 16px;
    letter-spacing: 4px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover {
    opacity: 1;
}
.modal-body {
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 18px;
}
#buy-ticket {
    width: 100%;
    padding: 16px;
    background-color: #009688;
    border: 0;
    font-size: 15px;
    color: #fff;
}
#buy-ticket:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.modal-help{
    font-size: 15px;
    float: right;
    margin: 16px 16px 16px 0;
}

/* Contact */
.contact-content{
    padding-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contac-form{
    font-size: 15px;
}
.contac-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}


/* map section */
.map-section img{
    width: 100%;
    height: auto;
}



/* Footer */
#footer{
    text-align: center;
    padding: 64px 16px;
    background-color: #f1f1f1;
    font-size: 24px;
}
#footer a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer a:hover{
    opacity: 0.6;
}
#footer p{
    font-size: 15px;
    margin-top: 32px;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-228px);
    }
    to {
        transform: translateY(0);
    }
}